@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Mulish', sans-serif;
  font-family: 'SUSE', sans-serif;
}

body {
  background-color: beige;
}

.container {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

